body{
  background-color: var(--color-surface);
  letter-spacing: 0.05em;
  font-family: "Noto Sans JP", "Helvetica Neue", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: var(--color-on-surface);
}

a{
  text-decoration: none;
}